header.user {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #f9a2be;
  background-image: url("https://i.imgur.com/Ksog5Tc.png");
}

div.avatar {
  display: flex;
  justify-content: center;
  align-content: center;
}

h2.name {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 1024px) {
  header.user {
    margin-top: 240px;
    margin-left: 2em;
    margin-right: 2em;
    width: 50%;
  }

  div.avatar {
    padding-top: 25px;
  }

  h2.name {
    margin-top: 0px;
  }
}