#tweets-container {
  margin-top: 1em;
  width: 100%;
}

.tweet {
  margin-top: 1em;
  width: 100%;
  border-style: solid;
}

.tweet:hover {
  box-shadow: 5px 5px #c8cae3;
}

img.tweet-avatar {
  width: 52px;
  height: 52px;
  padding-top: 15px;
  padding-left: 15px;
  margin-right: 15px;
}

.tweet > footer {
  display: flex;
  border-top-style: solid;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  font-size: 16px;
}

.tweet > header {
  display: flex;
}

p.name {
  flex-grow: 1;
}

p.username {
  padding-right: 1.5em;
  color: #3895ff;
  opacity: 0.5;
}

p.user-tweet {
  padding-left: 1.5em;
}

.tweet > footer > p {
  flex-grow: 1;
}

.tweet > footer > i {
  margin: 5px;
}

.tweet > footer > i:hover {
  color: #3895ff;
}